@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Madimi+One&display=swap');

body{
        font-family: "Bangers", system-ui;
        font-weight: 400;
        font-style: normal;
}