@use "./scss/board";
@use "./scss/typography";

body{
    color:orange;;
    // cursor: url('../public/images/hammer.jpg'), auto;
    text-align:center;
    background-image: url('../src/images/mole-background.jpg');
    background-size: cover;
    text-shadow: black 0px 0px 10px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}



.medium{
    background-color:red;
}

.medium-difficulty-hidden{
    display:none;
    text-shadow: black 0px 0px 10px;
}

.medium-difficulty{
    font-size: 32px;
    color:red
}

.mole {
    background-image: url('./images/mole.jpg');
    width: 200px;
    height:auto;
    background-size: cover;
}

button{
    // opacity: transparent;
    padding: 20px;
    // border: 1px solid black;
    // background-color: transparent;
    border-radius: 3px;
    border:1px solid grey;
    background-color: orange;
    border-radius: 10%;
    font-style: inherit;
}

.title{
    text-align: center;
    text-decoration: underline;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}   

