@use "./scss/board";
@use "./scss/typography";


body{
    background-color: aqua;
    cursor: url('../public/images/hammer.jpg'), auto;
    text-align:center;
}

.medium{
    background-color:red;
    color:green;
}

.medium-difficulty-hidden{
    display:none;
}

.medium-difficulty{
    font-size: 32px;
    color:black
}

.impossible{
    background-color: black;
    color:white;
}

.title{
    text-align: center;
    text-decoration: underline;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    background-color: orange;
    width:100%;
}   

.hammer-cursor {
    cursor: url('path/to/hammer-cursor.png'), auto;
  }
